/* Iphone 12 pro responsive */

:root {
    max-width: 1200px;
    margin: 0 auto;
}

/* en general */
body {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    background-color: black;
}

/* header */
header {
    text-decoration: none;
    /* height: 40px; */
    margin-inline: 70px;
    text-decoration: none;
    color: black;
    /* margin-left: 170px; */

}

.menuheader {
    text-decoration: none;
    color: rgb(243, 135, 243);
    margin: 20px;
}

.sacardilineado {
    text-decoration: none;

}

/*img*/

.contenedorfoto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.comogenre {


    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 90%;
    position: relative;
}

.comogenre h1 {
    background-color: blueviolet;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    font-size: 2 rem;
    padding: 10px 20px;
}

.comogenre h3 {
    background-color: blueviolet;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;

    padding: 10px 20px;
}


.comogenre a {
    background-color: blueviolet;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;

    padding: 10px 20px;
}

.filtro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.filtro input {
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(243, 135, 243);
    border-radius: 5px;
    outline: none;
}

img {
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    width: 100px;
    height: 90px;
    margin-top: 10px;

}

/* main  de home */

main {
    background-color: black;
}

.tituloPpal {
    font-size: 30px;
    color: rgb(243, 135, 243);
    margin-bottom: 0px;

}

div h3 .canciones {
    align-content: center;
    background-color: rgb(38, 10, 70);
    margin-right: 900px;
    padding: 10px;
    margin-left: 70px;
}

section {
    display: flex;
    flex-wrap: wrap;

}

.section1 {
    margin-left: 100px;
    margin-top: 300px;
}

/*.section2{
     margin-left: 100px; 
} */

.section3 {
    margin-left: 100px;
}

.article1 {
    /* height: 320px; */
    width: 300px;
    background-color: rgb(38, 10, 70);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid rgb(243, 135, 243);
    margin: 20px;


}

h3 {
    color: rgb(243, 135, 243);
    text-align: center;

}

h4 {
    color: rgb(184, 101, 184);

}

p {
    color: rgb(138, 74, 138);
}


.maingenre {
    margin-top: 500px;
    margin-left: 60px;
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

div a {
    background-color: rgb(38, 10, 70);
    color: rgb(243, 135, 243);
    text-decoration: none;
}


button {
    /* padding: 20px; */
    background-color: rgb(38, 10, 70);
    color: rgb(243, 135, 243);
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 30px;
    margin-right: 100px;
    border: none;
}

.article2 {
    text-decoration: none;
}

/*detail-genre*/
article .nombreartist {
    text-decoration: none;
    align-content: center;

}

/*detail-artists */

.detail-artist {
    height: 400px;
    margin-top: 30px;
    width: 200px;
}

/*detail-track*/
.largo {

    color: rgb(243, 135, 243);
    height: 500px;

}

#alarga {
    height: 600px;
}


.largo {
    height: 500px;
}

/* footer */

footer {
    text-decoration: none;
    height: 40px;
    margin-inline: 80px;
    text-decoration: none;
    color: black;
    width: 89%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.navheader {
    text-decoration: none;
    text-align: right;
    background-color: rgb(38, 10, 70);
    /* height: 00px;
    width: 70%;
    margin-left: 70px; */

}

.nombres {
    margin: 20px;
    color: rgb(243, 135, 243);
    background-color: rgb(38, 10, 70);
    padding: 20px;
}

.bajarfootgen {
    margin-top: 450px;
}

.bajarfootdetgen {
    margin-top: 200px;
}

.bajarfootdetal {
    margin-top: 170px;
}

.bajarfootdettr {
    margin-top: 180px;
}

.bajarfootdetp {
    margin-top: 270px;
}

.bajarfootsearch {
    margin-top: 80px;
}


@media (min-width: 1024px) {

    /* en general */
    body {
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        background-color: black;
    }

    div.chico {
        height: 170px;
        width: 200px;
    }

    /* header */
    header {
        text-decoration: none;
        height: 40px;
        margin-inline: 80px;
        color: black;
        margin-bottom: 0%;

        width: 89%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;

    }

    div .divheader {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .menuheader {
        text-decoration: none;
        color: rgb(243, 135, 243);
        margin: 20px;
    }

    .sacardilineado {
        text-decoration: none;
        height: 0px;

    }

    /*img*/

    div.contenedorfoto {
        height: 100px;

    }

    img {
        border-radius: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        width: 100px;
        height: 90px;
        margin-top: 10px;

    }

.comogenre {
    margin-right: 1000px;
    margin-top: 0%;
    
}
    a#mini {
        height: 10px;
        background-color: none;
        margin-top: none;
    }

    /* main  de home */

    main {
        background-color: black;
    }

    .comogenre {


        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 90%;
        position: relative;
    }

    .comogenre h3 {
        background-color: blueviolet;
        color: rgb(255, 255, 255);
        text-align: center;
        text-transform: uppercase;

        padding: 10px 20px;
    }

    .tituloPpal {
        font-size: 30px;
        color: rgb(243, 135, 243);
        margin-bottom: 70px;

    }

    div h3 .canciones {
        align-content: center;
        background-color: rgb(38, 10, 70);
        margin-right: 900px;
        padding: 10px;
        margin-left: 70px;
    }

    section {
        display: flex;
        flex-wrap: wrap;

    }

    .section1 {
        margin: 10px;
    }

    .section2 {
        margin: 10px;
    }

    .section3 {
        margin: 10px;
    }

    .gridContainer {
        min-height: 60vh;
        position: relative;
        min-width: 320px;
        list-style: none;

        display: flex;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 2px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%
    }

    .article1 {
        /* height: 320px; */
        width: 300px;
        background-color: rgb(38, 10, 70);
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 3px solid rgb(243, 135, 243);
        margin: 20px;
        padding: 10px;

    }

    h3 {
        color: rgb(243, 135, 243);
        align-content: flex-start;
        font-size: 1rem;
        text-align: center;

    }

    h4 {
        color: rgb(184, 101, 184);

    }

    p {
        color: rgb(138, 74, 138);
    }

    .maingenre {
        margin-top: 0%;
    }

    /* div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    
} */

    div a {
        /* padding: 20px; */
        background-color: rgb(38, 10, 70);
        color: rgb(243, 135, 243);
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 20px;


    }

    button {
        padding: 20px;
        background-color: rgb(38, 10, 70);
        color: rgb(243, 135, 243);
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 30px;


    }

    /*detail-genre*/
    article .nombreartist {
        text-decoration: none;
        align-content: center;

    }

    /* div.chico{
    height: 0px;
    margin-top: 20px;
} */

    /*detail-artists */

    .detail-artist {
        height: 400px;
        width: 300px;
    }

    /*detail-track*/
    .largo {

        color: rgb(243, 135, 243);
        height: 400px;

    }


    /* footer */

    footer {
        text-decoration: none;
        height: 40px;
        margin-inline: 80px;
        color: black;
        width: 89%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;

        font-family: 'Raleway', sans-serif;
        font-size: 20px;
    }

    .navheader {
        text-decoration: none;
        text-align: right;
        background-color: rgb(38, 10, 70);
        height: 100px;
        width: 100%;
        border: 3px solid rgb(243, 135, 243);
    }

    /*.NavBar {
         margin-left: 10px; 
    }*/

    .infonav {

        border-radius: 1%;

    }

    .menuheader {
        align-self: center;
    }

.favs{
    color: rgb(243, 135, 243) ;
    margin-right: 300px;
}
    .nombres {
        margin: 20px;
        margin-right: 20px;
        color: rgb(243, 135, 243);
        margin-top: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }

    footer.foot {
        margin-top: 110px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        margin-left: -35px;
    }
div.albums{
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

    }

    .favs {
        color: rgb(243, 135, 243);
    }

    div.formulario {
        margin-left: 750px;
        width: 100px;
    }

    div.albums {
        margin-top: 0px;
    }

    .NavBar {
        margin-bottom: 100px;
    }

    button.character-card {
        padding: 20px;
        background-color: rgb(38, 10, 70);
        color: rgb(243, 135, 243);
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 30px;
    }

    p.hidden {
        display: none;
    }

    p.show {
        display: block;
    }

}