.cancion {
    width: 360px;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    margin: 8px 10px;
  }
  
  .cancion:hover {
    box-shadow: 0px 0px 6px 0px hsl(29, 36%, 54%);
    cursor: pointer;
  }
  
  .cancion .shadow {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.45) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0) 100%
    );
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
  }
  
  .cancion h2 {
    /* margin: 15px 10px; */
    font-weight: 600;
  }
  .cancion h3 {
    /* margin: 15px 10px; */
    font-weight: 400;
    font-style: italic;
    
  }

  p.canciones{
    color: rgb(243, 135, 243);
  }

  .cancion img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }